html,
body {
  height: 100%;
}

nav {
  height: 90px;
}

.navbar {
  padding-left: 3rem;
  padding-right: 3rem;
}

nav:focus {
  outline: none;
}

.navbar-item.is-logo {
  position: absolute;
  left: 50%;
  margin-left: -64px;
  /* 50% */
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-item.is-logo img {
  max-height: 100px;
}

.navbar-item.is-logo img {
  max-height: 100px;
}


.playback {
  font-size: 40pt;
  border-color: transparent;
  outline: none;
}

.playback:hover {
  color: rgb(129, 135, 141);
}

.album-art {
  min-height: 300px;
}

.currently-playing {
  height: 350px;
  min-height: 350px;
  margin-bottom: 2rem;
}

.currently-playing img {
  height: 280px;
}

img.playlist-cover {
  max-height: 60px;
  height: 60px;
  max-width: 60px;
  width: 60px;
}

.center-table th,
.center-table td {
  text-align: center;
  vertical-align: middle;
}

.playlist-table {
  border-top: 1px solid #b5bbbf;
  margin-bottom: -1.5rem;
  /* min-width: 500px; */
}

.track-name {
  color: rgb(51, 193, 198);
}

.icon img.play-spinner {
  padding-top: 0.5rem;
}

img.preloader {
  margin-top: auto;
  margin-bottom: auto;
}

.ticker {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  transition: 0.5s ease-in;
  width: 300px;
}

.ticker.name {
  height: 2rem;
}

.ticker.artists {
  height: 1.5rem;
}

.ticker:hover {
  transition: 4s ease-in;
  text-indent: -300px;
}
